<%-include("./partials/header")%>
  <div class="rounded-[20px] w-[500px] h-[600px] bg-black border-[2px] border-blue-700 absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
    <h1 class="h-[20%] text-white flex font-semibold justify-center items-center text-4xl w-[100%]">Post Update Form</h1>
    <div class="  h-[150px] ml-[35%] w-[150px] rounded-[100%] ">
      <img class="  object-cover h-[100%] w-[100%] rounded-[100%] " src="/images/<%=post.postImage%>"
        alt="">
    </div>
    <form class="pt-10 h-[67%]  flex flex-col items-center  gap-10 "  action="/postUpdate/<%=post._id%>" enctype="multipart/form-data" method="post">
      <input class="border-[2px]   h-[12%] rounded-[50px] w-[80%] pl-5" type="text" name="title" value="<%=post.title%>" id="">
      <input class=" selectUpdateInput border-[2px] hidden   h-[12%] rounded-[50px] w-[80%] pl-5" type="file" name="postImage" id="">
      <h1 class=" selectUpdate text-white font-bold border-[2px] flex justify-center items-center cursor-pointer   h-[12%] rounded-[50px] w-[80%] ">Select Image</h1>
      
      <button class=" pt-3 bg-black pl-[2.5vmax] pr-[2.5vmax] pb-3 text-white border-blue-700 border-[2px] hover:bg-blue-700 hover:text-white  rounded-[50px] font-semibold">Update</button>
    </form>
  </div>
  <script>
    document.querySelector(".selectUpdate").addEventListener("click",()=>{
      document.querySelector(".selectUpdateInput").click()
    })
  </script>
  <%-include("./partials/footer")%>