<%-include("./partials/header")%>
  <div
    class="rounded-[20px] w-[500px] h-[600px] bg-black border-[2px] border-blue-700 absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
    <h1 class="h-[20%] text-white flex font-semibold justify-center items-center text-4xl w-[100%]">User Update Form
    </h1>
    <div class="  h-[150px] ml-[35%] w-[150px] rounded-[100%] ">
      <img class=" profileImage object-cover h-[100%] w-[100%] rounded-[100%] " src="/Images/<%=user.profileImage%>"
        alt="">
    </div>
    <form class="profileForm hidden " action="/profileImage" method="post" enctype="multipart/form-data">
      <input type="file" name="profileImage" id="">
    </form>
    <form class="pt-10 h-[67%]  flex flex-col items-center  gap-10 " action="/update/<%=user._id%>" method="post">
      <input class="border-[2px]   h-[12%] rounded-[50px] w-[80%] pl-5" type="text" name="username"
        value="<%=user.username%>" id="">
      <input class="border-[2px]   h-[12%] rounded-[50px] w-[80%] pl-5" type="email" name="email"
        value="<%=user.email%>" id="">
      <button
        class=" pt-3 bg-black pl-[2.5vmax] pr-[2.5vmax] pb-3 text-white border-blue-700 border-[2px] hover:bg-blue-700 hover:text-white  rounded-[50px] font-semibold">Update</button>
      <a class=" text-white absolute bottom-[22%] left-[11%]  " href="/resetPassword">Reset Password</a>
    </form>
  </div>

  <script>
    document.querySelector(".profileImage").addEventListener("click", () => {
      document.querySelector(".profileForm input").click()
    })
    document.querySelector(".profileForm input").addEventListener("change", () => {
      document.querySelector(".profileForm").submit()
    })
  </script>
  <%-include("./partials/footer")%>